.header_sec {
    ion-toolbar {
        --background: transparent !important;
        --border-width: 0px;
        ion-back-button {
            margin-left: 12px;
        }
    }
    ion-title {
        color: var(--ion-color-primary-contrast);
        text-transform: uppercase;
        font-weight: 700;
        padding: 0;
        text-align: center;
    }
}

ion-content {
    position: absolute;
    top: 0;
    width: 100%;
    --background: #f5f5f5;
}

.bg_shop {
    // position: absolute;
    // top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    .img_sec {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .inner_img {
        width: 140px;
        height: 140px;
        border-radius: 100%;
        position: absolute;
        bottom: -70px;
        padding: 6px;
        background: #fff;
        left: 50%;
        transform: translateX(-50%);
    }
}

ion-grid {
    padding-left: 0;
    padding-right: 0;
    max-width: 90%;
    width: 100%;
    margin: auto;
    margin-top: 95px;
    background: #fff;
    border-radius: 16px;
    padding: 32px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

.shop_sec {
    ion-input {
        background: #3c282800 !important;
        margin-top: 0;
        border-radius: 0;
        height: 44px;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 10px;
        color: #333;
        font-family: 'SF UI Display'!important;
        letter-spacing: 1px;
        --placeholder-opacity: 1;
    }
    ion-textarea {
        background: var(--ion-chat-bg-color)!important;
        margin-top: 12px;
        border-radius: 6px;
        height: 200px;
        padding: 5px;
    }
    ion-label {
        font-size: 12px !important;
        letter-spacing: 1px;
        font-family: 'SF UI Display'!important;
        color: #999;
    }
    ion-select {
        background: var(--ion-chat-bg-color)!important;
        margin-top: 12px;
        border-radius: 6px;
        padding: 14px;
        font-size: 14px;
    }
}

.btn_sec {
    max-width: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 12px;
}

.geo {
    padding: 0;
    ion-button {
        max-width: 95%;
        width: 100%;
        --border-radius: 4px !important;
        --background: var(--ion-color-validation);
        text-transform: uppercase;
        font-size: 14px;
        height: 45px;
        // font-family: SF-UI-Display-Semibold !important;
    }
}

.place {
    padding: 0;
    ion-button {
        max-width: 95%;
        width: 100%;
        --border-radius: 4px !important;
        --background: #1a1a1a;
        text-transform: uppercase;
        font-size: 14px;
        height: 45px;
        // font-family: SF-UI-Display-Semibold !important;
    }
}

.booking_text {
    text-align: center;
    width: 100%;
    max-width: 75%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    // font-family: SF-UI-Display-Semibold !important;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

.schedule_sec {
    box-shadow: 0px 0px 5px var(--ion-chat-bg-color)!important;
    border-radius: 8px;
    max-width: 97%;
    width: 100%;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    .time_sec {
        margin: auto;
        ion-datetime {
            background: var(--ion-chat-bg-color)!important;
            border-radius: 6px;
            color: var(--ion-green);
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .booked {
        margin: auto;
        ion-datetime {
            background: var(--ion-chat-bg-color)!important;
            border-radius: 6px;
            color: var(--ion-color-validation);
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .day {
        padding-left: 8px;
        text-transform: uppercase;
        font-size: 14px;
        // font-family: SF-UI-Display !important;
    }
}

.url_sec {
    text-align: center;
    background: var(--ion-chat-bg-color)!important;
    max-width: 97%;
    width: 100%;
    margin: auto;
    margin-top: 12px;
    border-radius: 2px;
    margin-bottom: 12px;
    p {
        margin-top: 13px;
        margin-bottom: 13px;
        font-size: 14px;
        // font-family: SF-UI-Display-Semibold !important;
        letter-spacing: 1px;
    }
}

.simple_url {
    font-size: 14px;
    // font-family: SF-UI-Display-Semibold !important;
    letter-spacing: 1px;
    text-align: center;
}

ion-button {
    height: 48px;
    --border-radius: 50px;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: var(--ion-color-primary-contrast);
    --background: var(--ion-button-color);
    --background-focused: var(--ion-button-color);
    --background-hover: var(--ion-button-color);
    --background-activated: var(--ion-button-color);
    margin-top: 16px;
    letter-spacing: 1px;
    font-family: "SF UI Display" !important;
}

.center {
    position: relative;
    bottom: 95px;
    ion-icon[name="create"] {
        color: var(--ion-color-primary-contrast);
        font-size: 19px;
        position: absolute;
        bottom: 24px;
        margin-left: -31px;
        background-color: var(--ion-border-red-color);
        padding: 4px;
        border-radius: 100px;
    }
}

.gallery_box {
    margin-top: 0px!important;
}

.gallery {
    position: relative;
    display: inline-block;
    ion-img {
        width: 62px;
        height: 62px;
        object-fit: cover;
        object-position: center;
        display: inline-block;
        border: 1px solid var(--ion-border-red-color);
        border-radius: 3px;
    }
    ion-icon[name="trash"] {
        color: var(--ion-border-red-color);
        font-size: 19px;
        position: absolute;
        right: -11px;
        top: -8px;
        background-color: var(--ion-color-primary-contrast);
        border: 1px solid var(--ion-border-red-color);
        border-radius: 16px;
    }
}

.select_img {
    max-width: 70%;
    height: 41px;
    margin: 0px auto;
}