<ion-header class="header_sec" no-padding>
    <ion-toolbar class="ion-no-padding">
        <ion-buttons slot="start" class="back_buttons">
            <ion-back-button defaultHref="/tabs/shop">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-back-button>
        </ion-buttons>

        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="back_sec">
      <ion-back-button defaultHref="/"><ion-icon name="arrow-round-back"></ion-icon></ion-back-button>
  </div> -->
    <ion-grid class="ion-no-padding">
        <ion-row class="slider_sec">
            <ion-col size="12" class="ion-no-padding">
                <ion-slides pager="true"  class="bg_shop">
                    <ion-slide>
                        <img src="assets/imgs/aboutbarber.png" class="img_sec">
                    </ion-slide>
                    <ion-slide>
                        <img src="/assets/newimage/top-bg.png" class="img_sec">
                    </ion-slide>
                    <ion-slide>
                        <img src="assets/imgs/aboutbarber.png" class="img_sec">
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>

        <ion-row class="shop_sec">
            <ion-col size="12">
                <h5>About Tru Barber</h5>

                <p *ngIf="readyposts" [innerHTML]="about"></p>
            </ion-col>
            <ion-col *ngIf="!readyposts" class="ion-text-center">
                <ion-spinner name="lines"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>