<ion-header class="header_sec" no-padding>
  <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="start" class="back_buttons" (click)="back()">
              <ion-icon name="arrow-round-back"></ion-icon>
      </ion-buttons>
      <ion-title>Bank Account</ion-title>
      <ion-buttons slot="end" class="back_buttons"routerLink="/addbank">
        <ion-icon slot="end" name="add" routerLink="/addbank"></ion-icon>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="bg-theme">
      <ion-col sze="12" class="decoration">
        <ion-card *ngFor ="let data of banks;let i = index" >
          <ion-card-header>
            <ion-card-subtitle>{{data.account_holder_name}}</ion-card-subtitle>
            <ion-card-subtitle>{{data.bank_name}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           <ion-img src="assets/visa-logo.svg"></ion-img>
           <span>.... .... .... {{data.last4}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
