<ion-header class="header_sec" no-padding>
    <ion-toolbar class="ion-no-padding">
        <ion-buttons slot="start" class="back_buttons" (click)="back()">
            <ion-icon name="arrow-round-back"></ion-icon>
      </ion-buttons>
        <ion-title>About booking</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
  



    <form [formGroup]="addCheckListForm" >
        <ion-grid class="ion-padding text_sec">         
             <ion-row class="sdf"> 
                <ion-col size="12">
                    <ion-label>Enter an activity</ion-label>
                    <input type="text"  formControlName="activity">
                </ion-col>
                <ion-col size="12">
                    <ion-label>Enter a address</ion-label>
                    <input type="text"  formControlName="location">
                </ion-col>
                <ion-col size="6">
                    <ion-label>City</ion-label>
                    <input type="text"  formControlName="city">
                </ion-col>
                <ion-col size="6">
                    <ion-label>Zipcode</ion-label>
                    <input type="number"  formControlName="zipcode">
                </ion-col>
                <ion-col size="12">
                    <ion-label position="stacked">State</ion-label>
                    <ion-select placeholder="State" formControlName="state">
                        <ion-select-option value="Alabama">Alabama</ion-select-option>
                        <ion-select-option value="Alaska">Alaska</ion-select-option>
                        <ion-select-option value="Arizona">Arizona</ion-select-option>
                        <ion-select-option value="Arkansas">Arkansas</ion-select-option>
                        <ion-select-option value="California">California</ion-select-option>
                        <ion-select-option value="Colorado">Colorado</ion-select-option>
                        <ion-select-option value="Connecticut">Connecticut</ion-select-option>
                        <ion-select-option value="Delaware">Delaware</ion-select-option>
                        <ion-select-option value="Florida">Florida</ion-select-option>
                        <ion-select-option value="Georgia">Georgia</ion-select-option>
                        <ion-select-option value="Hawaii">Hawaii</ion-select-option>
                        <ion-select-option value="Idaho">Idaho</ion-select-option>
                        <ion-select-option value="Illinois">Illinois</ion-select-option>
                        <ion-select-option value="Indiana">Indiana</ion-select-option>
                        <ion-select-option value="Iowa">Iowa</ion-select-option>
                        <ion-select-option value="Kansas">Kansas</ion-select-option>
                        <ion-select-option value="Kentucky">Kentucky</ion-select-option>
                        <ion-select-option value="Louisiana">Louisiana</ion-select-option>
                        <ion-select-option value="Maine">Maine</ion-select-option>
                        <ion-select-option value="Maryland">Maryland</ion-select-option>
                        <ion-select-option value="Massachusetts">Massachusetts</ion-select-option>
                        <ion-select-option value="Michigan">Michigan</ion-select-option>
                        <ion-select-option value="Minnesota">Minnesota</ion-select-option>
                        <ion-select-option value="Mississippi">Mississippi</ion-select-option>
                        <ion-select-option value="Missouri">Missouri</ion-select-option>
                        <ion-select-option value="Montana">Montana</ion-select-option>
                        <ion-select-option value="Nebraska">Nebraska</ion-select-option>
                        <ion-select-option value="Nevada">Nevada</ion-select-option>
                        <ion-select-option value="New Hampshire">New Hampshire</ion-select-option>
                        <ion-select-option value="New Jersey">New Jersey</ion-select-option>
                        <ion-select-option value="New Mexico">New Mexico</ion-select-option>
                        <ion-select-option value="New York">New York</ion-select-option>
                        <ion-select-option value="North Carolina">North Carolina</ion-select-option>
                        <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                        <ion-select-option value="Ohio">Ohio</ion-select-option>
                        <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                        <ion-select-option value="Oregon">Oregon</ion-select-option>
                        <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                        <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                        <ion-select-option value="South Carolina">South Carolina</ion-select-option>
                        <ion-select-option value="South Dakota">South Dakota</ion-select-option>
                        <ion-select-option value="Tennessee">Tennessee</ion-select-option>
                        <ion-select-option value="Texas">Texas</ion-select-option>
                        <ion-select-option value="Utah">Utah</ion-select-option>
                        <ion-select-option value="Vermont">Vermont</ion-select-option>
                        <ion-select-option value="Virginia">Virginia</ion-select-option>
                        <ion-select-option value="Washington">Washington</ion-select-option>
                        <ion-select-option value="West Virginia">West Virginia</ion-select-option>
                        <ion-select-option value="Wisconsin">Wisconsin</ion-select-option>
                        <ion-select-option value="Wyoming">Wyoming</ion-select-option>
                    </ion-select>
                </ion-col>
                
                <ion-col size="12">
                    <ion-label>Enter minimum time to spend with Friend</ion-label>
                    <input type="number" maxlength="2"  formControlName="minimum_time_to_spend_with_Friend" placeholder="Minutes">
                </ion-col>
                <ion-col size="12" class="c-input">
                    <ion-label>Set a response time limit</ion-label>
                    <input type="number" formControlName="response_time_limit" maxlength="2">
                    <span>Minutes</span>
                </ion-col>
            </ion-row>

        </ion-grid>

        <ion-grid class="calendar_box">
            <ion-row *ngIf="!calready">
                <ion-col size="12" text-center>
                    <ion-spinner class="spinner"></ion-spinner>
                </ion-col>
            </ion-row>
            <ion-row class="calendar_sec" *ngIf="calready">
                <ion-col size="12" no-padding>
                    <div class="calendar-header">
                        <ion-row class="calendar-month">
                            <!-- <ion-col size="3" (click)="goToLastMonth()" text-right>
                                <ion-icon name="arrow-back"></ion-icon>
                            </ion-col> -->
                            <ion-col size="6" text-center>{{currentMonth}} {{currentYear}}</ion-col>
                            <!-- <ion-col size="3" (click)="goToNextMonth()" text-left>
                                <ion-icon name="arrow-forward"></ion-icon>
                            </ion-col> -->
                        </ion-row>
                    </div>
                    <div class="calendar-body">
                        <ion-grid>
                            <ion-row class="calendar-weekday">
                                <ion-col>Sun</ion-col>
                                <ion-col>Mon</ion-col>
                                <ion-col>Tue</ion-col>
                                <ion-col>Wed</ion-col>
                                <ion-col>Thu</ion-col>
                                <ion-col>Fri</ion-col>
                                <ion-col>Sat</ion-col>
                            </ion-row>
                            <ion-row class="calendar-date">
                                <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" >
                                    {{lastDay}}</ion-col>
                                <ion-col col-1 *ngFor="let day of daysInThisMonth">


                                    <div *ngIf="(day | userExtract : 'dateCheck' : user_info : date)==true" (click)="selectDate(day)">
                                        <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
                                        <ng-template #otherDate class="otherDate">
                                            <div *ngIf="isday!=day">
                                                <span>{{day}}</span>
                                            </div>
                                            <div *ngIf="isday==day">
                                                <span class="selected-date" *ngIf="isday==day">{{day}}</span>
                                            </div>
                                        </ng-template>
                                    </div>

                                    <div *ngIf="(day | userExtract : 'dateCheck' : user_info : date)==false" >
                                        <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
                                        <ng-template #otherDate class="otherDate">
                                            <div *ngIf="isday!=day">
                                                <span>{{day}}</span>
                                            </div>
                                            <div *ngIf="isday==day">
                                                <span class="selected-date" *ngIf="isday==day">{{day}}</span>
                                            </div>
                                        </ng-template>
                                    </div>

                                </ion-col>
                                <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" >
                                    {{nextDay}}</ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-col>
            </ion-row>



        </ion-grid>
        <ion-row class="btn_sec" *ngIf="calready">
            <ion-col size="6">
                <p>
                    <ion-select [disabled]="true" placeholder="Select Day" required formControlName="select_day">
                        <ion-select-option value="Monday" *ngIf="is_monday">Monday</ion-select-option>
                        <ion-select-option value="Tuesday" *ngIf="is_tuesday">Tuesday</ion-select-option>
                        <ion-select-option value="Wednesday" *ngIf="is_wednesday">Wednesday</ion-select-option>
                        <ion-select-option value="Thursday" *ngIf="is_thursday">Thursday</ion-select-option>
                        <ion-select-option value="Friday" *ngIf="is_friday">Friday</ion-select-option>
                        <ion-select-option value="Saturday" *ngIf="is_saturdy">Saturday</ion-select-option>
                        <ion-select-option value="Sunday" *ngIf="is_sunday">Sunday</ion-select-option>
                    </ion-select>
                </p>
            </ion-col>
            <ion-col size="6">
                <p>
                    <ion-spinner *ngIf="!timeready" class="spinner"></ion-spinner>
                    <ion-select *ngIf="timeready" placeholder="Select Time"  required formControlName="select_time">
                        <ion-select-option value="">Select Time</ion-select-option>
                        <ion-select-option *ngFor="let time_data of avilable_time_slot" value="{{time_data}}">{{time_data}}
                        </ion-select-option>
                    </ion-select>
                </p>
            </ion-col>

            <ion-col size="12">
                <ion-button  (click)="addServices(addCheckListForm.value)">Continue</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>