<ion-header class="header_sec" no-padding>
    <ion-toolbar class="ion-no-padding">
        <ion-buttons slot="start" class="back_buttons">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact Info</ion-title>
    </ion-toolbar>


</ion-header>

<ion-content>
    <div class="bg_shop" *ngIf="ready">
        <img src="assets/newimage/top-bg.png" class="img_sec">
        <div class="center">
            <img src="{{userImage}}" class="inner_img">
            <ion-icon name="create" (click)="selectImage('userimage')"></ion-icon>
        </div>
    </div>

    <form [formGroup]="editform" (ngSubmit)="doEdit(editform.value)">
        <ion-grid>
            <ion-row class="shop_sec" *ngIf="ready">
                <ion-col size="12">
                    <ion-label position="stacked">Shop Name</ion-label>
                    <ion-input placeholder="" formControlName="shop_name"></ion-input>
                </ion-col>

                <ion-col size="12">
                    <ion-label position="stacked">Street One</ion-label>
                    <ion-input placeholder="Street One" formControlName="shop_address1"></ion-input>
                </ion-col>
                <ion-col size="12">
                    <ion-label position="stacked">Street Two</ion-label>
                    <ion-input placeholder="Street Two" formControlName="shop_address2"></ion-input>
                </ion-col>
                <ion-col size="12">
                    <ion-label position="stacked">City</ion-label>
                    <ion-input placeholder="city" formControlName="shop_city"></ion-input>
                </ion-col>





                <ion-col size="6">
                    <ion-label position="stacked">State</ion-label>
                    <ion-select placeholder="State" formControlName="shop_state">
                        <ion-select-option value="Alabama">Alabama</ion-select-option>
                        <ion-select-option value="Alaska">Alaska</ion-select-option>
                        <ion-select-option value="Arizona">Arizona</ion-select-option>
                        <ion-select-option value="Arkansas">Arkansas</ion-select-option>
                        <ion-select-option value="California">California</ion-select-option>
                        <ion-select-option value="Colorado">Colorado</ion-select-option>
                        <ion-select-option value="Connecticut">Connecticut</ion-select-option>
                        <ion-select-option value="Delaware">Delaware</ion-select-option>
                        <ion-select-option value="Florida">Florida</ion-select-option>
                        <ion-select-option value="Georgia">Georgia</ion-select-option>
                        <ion-select-option value="Hawaii">Hawaii</ion-select-option>
                        <ion-select-option value="Idaho">Idaho</ion-select-option>
                        <ion-select-option value="Illinois">Illinois</ion-select-option>
                        <ion-select-option value="Indiana">Indiana</ion-select-option>
                        <ion-select-option value="Iowa">Iowa</ion-select-option>
                        <ion-select-option value="Kansas">Kansas</ion-select-option>
                        <ion-select-option value="Kentucky">Kentucky</ion-select-option>
                        <ion-select-option value="Louisiana">Louisiana</ion-select-option>
                        <ion-select-option value="Maine">Maine</ion-select-option>
                        <ion-select-option value="Maryland">Maryland</ion-select-option>
                        <ion-select-option value="Massachusetts">Massachusetts</ion-select-option>
                        <ion-select-option value="Michigan">Michigan</ion-select-option>
                        <ion-select-option value="Minnesota">Minnesota</ion-select-option>
                        <ion-select-option value="Mississippi">Mississippi</ion-select-option>
                        <ion-select-option value="Missouri">Missouri</ion-select-option>
                        <ion-select-option value="Montana">Montana</ion-select-option>
                        <ion-select-option value="Nebraska">Nebraska</ion-select-option>
                        <ion-select-option value="Nevada">Nevada</ion-select-option>
                        <ion-select-option value="New Hampshire">New Hampshire</ion-select-option>
                        <ion-select-option value="New Jersey">New Jersey</ion-select-option>
                        <ion-select-option value="New Mexico">New Mexico</ion-select-option>
                        <ion-select-option value="New York">New York</ion-select-option>
                        <ion-select-option value="North Carolina">North Carolina</ion-select-option>
                        <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                        <ion-select-option value="Ohio">Ohio</ion-select-option>
                        <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                        <ion-select-option value="Oregon">Oregon</ion-select-option>
                        <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                        <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                        <ion-select-option value="South Carolina">South Carolina</ion-select-option>
                        <ion-select-option value="South Dakota">South Dakota</ion-select-option>
                        <ion-select-option value="Tennessee">Tennessee</ion-select-option>
                        <ion-select-option value="Texas">Texas</ion-select-option>
                        <ion-select-option value="Utah">Utah</ion-select-option>
                        <ion-select-option value="Vermont">Vermont</ion-select-option>
                        <ion-select-option value="Virginia">Virginia</ion-select-option>
                        <ion-select-option value="Washington">Washington</ion-select-option>
                        <ion-select-option value="West Virginia">West Virginia</ion-select-option>
                        <ion-select-option value="Wisconsin">Wisconsin</ion-select-option>
                        <ion-select-option value="Wyoming">Wyoming</ion-select-option>
                    </ion-select>

                </ion-col>
                <ion-col size="6">
                    <ion-label position="stacked">Zip</ion-label>
                    <ion-input type="number" placeholder="Zip" formControlName="shop_zipcode"></ion-input>
                </ion-col>
                <ion-col size="12">
                    <ion-label position="stacked">Phone</ion-label>
                    <ion-input type="number" placeholder="Phone" formControlName="shop_phone"></ion-input>
                </ion-col>
                <ion-col size="12">
                    <ion-label position="stacked">Website</ion-label>
                    <ion-input placeholder="Website" formControlName="shop_website"></ion-input>
                </ion-col>
                <ion-col size="12">
                    <ion-label position="stacked">Email</ion-label>
                    <ion-input placeholder="Email" formControlName="shop_email" disabled></ion-input>
                </ion-col>

                <ion-col size="12">
                    <ion-label position="stacked">About</ion-label>
                    <ion-textarea placeholder="about" rows="20" cols="50" formControlName="shop_about"></ion-textarea><br>
                    <ion-label position="stacked">Political Party?</ion-label>
                    <ion-input   formControlName="Political_Party"></ion-input><br>

                    <ion-label position="stacked">Religion?</ion-label>
                    <ion-input  formControlName="Religion" ></ion-input><br>

                    <ion-label position="stacked">Dating Preferences?</ion-label>
                    <ion-input formControlName="Dating_Preferences"  ></ion-input><br>

                    <ion-label position="stacked">Do you read?</ion-label>
                    <ion-input   formControlName="Do_you_read"></ion-input><br>

                    <ion-label position="stacked">Do you watch TV?</ion-label>
                    <ion-input  formControlName="Do_you_watch_TV" ></ion-input><br>

                    <ion-label position="stacked">Do you have kids?</ion-label>
                    <ion-select placeholder="select" formControlName="Do_you_have_kids" >
                        <ion-select-option value="Yes">Yes</ion-select-option>
                        <ion-select-option value="No">No</ion-select-option>              
                       </ion-select><br>

                    <ion-label position="stacked">Do you play games?</ion-label>
                    <ion-input placeholder="" formControlName="Do_you_play_games" ></ion-input><br>

                    <ion-label position="stacked">Are you Shy?</ion-label>
                    <ion-input placeholder="" formControlName="Are_you_Shy"  ></ion-input><br>

                    <ion-label position="stacked">Are you outgoing?</ion-label>
                    <ion-input placeholder=""formControlName="Are_you_outgoing"  ></ion-input><br>

                    <ion-label position="stacked">Are you Adventurous?</ion-label>
                    <ion-input placeholder="" formControlName="Are_you_Adventurous" ></ion-input><br>

                    <ion-label position="stacked">Do you have a sense of humor?</ion-label>
                    <ion-input placeholder=""formControlName="Do_you_have_a_sense_of_humor"  ></ion-input><br>

                    <ion-label position="stacked">Marital Status</ion-label>
                    <ion-select placeholder="select" formControlName="Marital_Status">
                        <ion-select-option value="Married">Married</ion-select-option>
                        <ion-select-option value="Single">Single</ion-select-option>
                        <ion-select-option value="Divorced">Divorced</ion-select-option>
                        <ion-select-option value="Dating">Dating</ion-select-option>                
                       </ion-select><br>

                </ion-col>
                <!-- <ion-col size="6">
                    <ion-label position="stacked">Price Per Hour</ion-label>
                    <ion-input placeholder="Price Per Hour" formControlName="price_per_hour"></ion-input>
                </ion-col> -->
            </ion-row>
            <!-- <ion-row class="btn_sec">
        <ion-col size="6" class="geo">
            <ion-button>Geo Locate</ion-button>
        </ion-col>
        <ion-col size="6" class="place">
            <ion-button>Place Pin</ion-button>
        </ion-col>
    </ion-row> -->


            <p class="booking_text">What Hours do you want to accept bookings?</p>

            <ion-row class="schedule_sec">
                <ion-col size="12">
                    <ion-row>
                        <ion-col size="3" class="day">
                            <p>Monday</p>
                        </ion-col>
                        <ion-col size="3">
                            <ion-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="is_monday"></ion-toggle>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_monday">
                            <ion-datetime formControlName="monday_from" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_monday">
                            <ion-datetime formControlName="monday_to" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3" class="day">
                            <p>Tuesday</p>
                        </ion-col>
                        <ion-col size="3">
                            <ion-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="is_tuesday"></ion-toggle>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_tuesday">
                            <ion-datetime formControlName="tuesday_from" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_tuesday">
                            <ion-datetime formControlName="tuesday_to" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3" class="day">
                            <p>Wednesday</p>
                        </ion-col>
                        <ion-col size="3">
                            <ion-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="is_wednesday"></ion-toggle>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_wednesday">
                            <ion-datetime formControlName="wedesday_from" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_wednesday">
                            <ion-datetime formControlName="wedesday_to" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3" class="day">
                            <p>Thursday</p>
                        </ion-col>
                        <ion-col size="3">
                            <ion-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="is_thursday"></ion-toggle>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_thursday">
                            <ion-datetime formControlName="thursday_from" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_thursday">
                            <ion-datetime formControlName="thursday_to" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3" class="day">
                            <p>Friday</p>
                        </ion-col>
                        <ion-col size="3">
                            <ion-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="is_friday"></ion-toggle>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_friday">
                            <ion-datetime formControlName="friday_from" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_friday">
                            <ion-datetime formControlName="friday_to" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col size="3" class="day">
                            <p>Saturday</p>
                        </ion-col>
                        <ion-col size="3">
                            <ion-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="is_saturdy"></ion-toggle>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_saturdy">
                            <ion-datetime formControlName="saturday_from" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_saturdy">
                            <ion-datetime formControlName="saturday_to" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="3" class="day">
                            <p>Sunday</p>
                        </ion-col>
                        <ion-col size="3">
                            <ion-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="is_sunday"></ion-toggle>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_sunday">
                            <ion-datetime formControlName="sunday_from" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                        <ion-col size="3" class="time_sec" *ngIf="is_sunday">
                            <ion-datetime formControlName="sunday_to" placeholder="00:00" displayFormat="h:mm a" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55">
                            </ion-datetime>
                        </ion-col>
                    </ion-row>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <h3 text-center>Gallery</h3>
                </ion-col>
                <ion-col size="12">

                    <ion-grid class="gallery_box">
                        <ion-row text-wrap>
                            <ion-col size="3" *ngFor="let img of gallery; index as pos">
                                <div class="gallery">
                                    <ion-img [src]="img.thumb"></ion-img>
                                    <ion-icon slot="icon-only" name="trash" (click)="deleteImage(img)"></ion-icon>
                                </div>
                            </ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-col>



                <ion-col size="12">
                    <ion-button fill="clear" expand="full" class="select_img f_btn" (click)="selectImage('barberGallery')">
                        <ion-icon slot="start" name="camera"></ion-icon>
                        Select File
                    </ion-button>
                </ion-col>


                <ion-col size="12">
                    <ion-button expand="block" type="submit"  class="continue f_btn">Update
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>
</ion-content>