.header_sec {
    // min-height: 55px;
    ion-toolbar {
        --background: transparent;
        background-image: url(/assets/newimage/top-bg.png);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        ion-buttons ion-icon {
            font-size: 24px;
        }
    }
    ion-title {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        color: #fff;
        text-transform: uppercase;
    }
    .back_buttons {
        margin-left: 12px;
    }
}

ion-content {
    --background: var(--ion-content-bgcolor);
}

.msg {
    background-color: #004a9b;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px rgba(118, 118, 118, 0.26);
    border-radius: 6px 6px 6px 0px;
    width: auto;
    display: inline-block;
    max-width: 60%;
    position: relative;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 8px 0;
    font-family: "SF UI Display" !important;
    color: #fff;
    font-weight: 400;
    // p {
    //     margin: 0px;
    //     font-size: 14px;
    //     line-height: 20px;
    //     color: #545454;
    // }
}

.right {
    .time {
        color: var(--ion-chat-time-color);
        font-size: 12px;
        margin: 0;
    }
    img.profile {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 20px;
        object-position: center;
        position: relative;
        top: 0px;
    }
}

.left {
    // img.profile {
    //     width: 44px;
    //     height: 44px;
    //     object-fit: cover;
    //     object-position: center;
    //     border-radius: 100%;
    //     position: absolute;
    //     bottom: 4px;
    // }
    .time {
        font-size: 7px;
        margin: 0;
        display: block;
    }
    .msg {
        background-color: #eaeaea;
        padding: 5px 10px;
        box-shadow: 0px 0px 2px rgba(118, 118, 118, 0.26);
        border-radius: 6px 6px 0px 6px;
        color: #666;
        width: auto;
        display: inline-block;
        max-width: 165px;
        float: left;
        position: relative;
        font-size: 14px;
        margin-bottom: 8px;
        p {
            color: var(--ion-color-primary-contrast);
        }
    }
    img.profile {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 20px;
        object-position: center;
        position: relative;
        top: 0px;
    }
}

.chat_bottom {
    position: absolute;
    bottom: 0px;
    background-color: var(--ion-color-primary-contrast);
    width: 100%;
    box-shadow: 1px 1px 10px #ababab;
    padding: 12px;
    ion-row {
        border: 2px solid #d8d8d8;
        max-width: 95%;
        border-radius: 14px;
        margin: auto;
        background: rgb(234, 234, 234);
        ion-col[size="10"] {
            margin: auto;
            padding: 0;
        }
    }
    .custom {
        ion-input {
            display: inline-block;
            max-width: 75%;
            color: black;
        }
        ion-icon {
            display: inline-block;
            margin-right: 5px;
            margin-left: 10px;
            position: relative;
            top: 4px;
            color: #bbb;
            font-size: 22px;
        }
    }
    ion-icon[name="send"] {
        background-color: #f4f4f4;
        padding: 0px 7px;
        color: var(--ion-color-dark-blue);
        border-radius: 100%;
        font-size: 35px;
    }
}

.chat_img {
    float: left;
    margin-right: 15px;
    width: 35px;
}

.chat_detail {
    float: right;
    width: 100%;
    text-align: right;
}

.recieve_m {
    display: flex;
    align-items: flex-start;
}