<ion-header class="header_sec" no-padding>
    <ion-toolbar class="ion-no-padding">
        <ion-buttons slot="start" class="back_buttons">
            <ion-back-button defaultHref="/">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-title>About The shop</ion-title>
    </ion-toolbar>
    <div class="bg_shop">
        <img src="/assets/newimage/top-bg.png" class="img_sec">
        <img src="assets/imgs/shop.png" class="inner_img">
    </div>

</ion-header>

<ion-content>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <ion-grid>
        <ion-row class="shop_sec">
            <ion-col size="12">
                <h5>About Shop</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum, libero convallis bibendum facilisis, risus quam porttitor nibh, sit amet imperdiet augue lacus quis nunc. Ut sed risus hendrerit, fringilla dolor ac, ullamcorper
                    massa. Proin nec felis molestie, porta ex ut, ornare purus.<span>Read More</span></p>
            </ion-col>

            <ion-col size="12">
                <h4>What Service Do You Provide?</h4>
                <ion-row class="gallery_sec">
                    <ion-col size="6">
                        <img src="assets/imgs/shop2.png">
                        <ion-item class="inner_sec ion-no-padding" lines="none">
                            <ion-label>
                                <p>Childs Haircut</p>
                                <p class="price">$9.00</p>
                            </ion-label>
                            <p class="btn">1Hour</p>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <img src="assets/imgs/shop3.png">
                        <ion-item class="inner_sec ion-no-padding" lines="none">
                            <ion-label>
                                <p>Adult Haircut</p>
                                <p class="price">$9.00</p>
                            </ion-label>
                            <p class="btn">1Hour</p>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row class="gallery_sec">
                    <ion-col size="6">
                        <img src="assets/imgs/shop4.png">
                        <ion-item class="inner_sec ion-no-padding" lines="none">
                            <ion-label>
                                <p>Beared Cut</p>
                                <p class="price">$6.00</p>
                            </ion-label>
                            <p class="btn">1Hour</p>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <img src="assets/imgs/shop5.png">
                        <ion-item class="inner_sec ion-no-padding" lines="none">
                            <ion-label>
                                <p>Hair Tatto</p>
                                <p class="price">$12.00</p>
                            </ion-label>
                            <p class="btn">1Hour</p>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>