.header_sec {
    // min-height: 55px;
    ion-toolbar {
        --background: transparent;
        background-image: url(/assets/newimage/top-bg.png);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    ion-title {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        color: #fff;
        text-transform: uppercase;
    }
    .back_buttons {
        margin-left: 12px;
    }
}

.items {
    h5 {
        font-size: 14px;
        padding: 17px 20px;
        margin-bottom: 0px;
        font-weight: 100;
        margin-top: 0px;
        padding-top: 4px;
        // font-family: SF-UI-Display !important;
        line-height: 20px;
        color: gray;
    }
    .top_0 {
        padding-top: 0px;
        border: none;
        padding-bottom: 0px;
    }
    .shadow {
        border-radius: 100px;
        box-shadow: 1px 4px 13px rgba(72, 69, 179, 0.06);
        width: 96%;
        margin: 0px auto;
        margin-top: 20px;
    }
    ion-textarea {
        text-align: left;
        min-height: 148px;
    }
    div {
        border-radius: 4px!important;
    }
    ion-button {
        width: 100%;
        --border-radius: 30px;
        height: 62px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 1px;
        margin: 0px;
        --background: #ef882b !important;
        --background-activated: #ef882b;
        --background-focused: #ef882b;
        --background-hover: #ef882b;
        font-weight: 800;
    }
}

.reviews {
    margin: 0px 10px;
    div {
        background-color: rgba(156, 156, 156, 0.16);
        padding: 10px 21px;
        border-radius: 8px;
        font-size: 14px;
        margin: 2px 0px;
    }
    ion-input {
        text-align: left;
        // font-family: SF-UI-Display !important;
    }
}

h1 {
    text-transform: uppercase;
    font-size: 20px;
    // font-family: SF-UI-Display-Semibold !important;
    position: relative;
}

h1:after {
    content: "";
    position: absolute;
    top: 0;
    text-align: center;
    border-bottom: 2px solid;
    width: 45px !important;
    bottom: -4px;
    margin: auto;
    left: 0;
    right: 0;
    color: #ef882b;
}

.bold_text {
    display: none !important;
}

ion-select {
    text-align: left;
    padding-left: 0px;
}