.bg_img {
    --background: transparent;
    background-image: url(/assets/newimage/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo_sec {
    // display: table-cell;
    // width: 100%;
    // height: 100%;
    // vertical-align: middle;
    ion-col[size="12"] {
        text-align: center;
        display: inline-block;
        img {
            max-width: 285px;
            width: 100%;
            margin: 70px auto 70px;
            // margin-top: 70px;
        }
    }
    .btn_sec {
        margin-top: 0px;
        text-align: center;
        display: inline-block;
        .login_btn {
            --background: var(--ion-button-color);
            max-width: 95%;
            width: 100%;
            margin: auto;
            height: 48px;
            margin-bottom: 14px;
            --background-activated: var(--ion-button-color);
            text-transform: capitalize;
            --background-focused: var(--ion-button-color);
            --background-hover: var(--ion-button-color);
            box-shadow: 0 1px 1px rgba(16, 27, 30, 0.15), 0 2px 2px rgba(16, 27, 30, 0.15), 0 4px 4px rgba(16, 27, 30, 0.15), 0 8px 8px rgba(16, 27, 30, 0.15), 0 16px 16px rgba(16, 27, 30, 0.15);
            border-radius: 30px;
            font-family: 'SF UI Display'!important;
            letter-spacing: 0;
            font-size: 16px;
        }
        .new_btn {
            --background: var(--ion-light-blue-color);
            max-width: 95%;
            width: 100%;
            margin: auto;
            height: 48px;
            --background-activated: var(--ion-light-blue-color);
            text-transform: capitalize;
            --background-focused: var(--ion-light-blue-color);
            --background-hover: var(--ion-light-blue-color);
            box-shadow: 0 1px 1px rgba(16, 27, 30, 0.15), 0 2px 2px rgba(16, 27, 30, 0.15), 0 4px 4px rgba(16, 27, 30, 0.15), 0 8px 8px rgba(16, 27, 30, 0.15), 0 16px 16px rgba(16, 27, 30, 0.15);
            border-radius: 30px;
            font-family: 'SF UI Display'!important;
            letter-spacing: 0;
            font-size: 16px;
        }
    }
}

ion-grid {
    display: table;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 380px) {
    .logo_sec ion-col[size="12"] img {
        max-width: 240px;
    }
}