<ion-header class="header_sec" no-padding>
    <ion-toolbar class="ion-no-padding">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_img ">

    <div class="top-bg">
        <img src="assets/newimage/top-bg.png">
    </div>
    <ion-list class="profile-activity">
        <ion-item>
            <ion-thumbnail slot="start">
                <img src="assets/newimage/profile-pic.png">
            </ion-thumbnail>
            <ion-label>
                <span><button ><ion-img src="assets/newimage/Add.png"></ion-img></button></span>
                <h3>Allice</h3>
                <label><ion-img  src="assets/newimage/Check.png"></ion-img>You Are Friends</label>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-grid>
        <!-- <div class="bg_shop" *ngIf="ready">
          <img src="/assets/newimage/top-bg.png" class="img_sec">
          <img src="{{user_info.user_avatar}}" class="inner_img">
      </div> -->


        <ion-row class="user-detail-tab">
            <ion-col>
                <label><ion-img src="assets/newimage/Gift.png"></ion-img>Birthday</label>
                <span>July 27, 1991</span>
            </ion-col>
            <ion-col>
                <label><ion-img src="assets/newimage/Location.png"></ion-img>Lives</label>
                <span>Kniville, TN</span>
            </ion-col>
            <ion-col>
                <label><ion-img src="assets/newimage/Bag.png"></ion-img>Work</label>
                <span>Graphic Designer</span>
            </ion-col>
        </ion-row>
        <ion-card class="welcom-text">
            <ion-card-header>
                hello
            </ion-card-header>
            <ion-card-content>
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
            </ion-card-content>
        </ion-card>


        <ion-list class="plan-activity">
            <ion-list-header class="ion-text-center">
                <h3>Plan an Activity</h3>
            </ion-list-header>
            <ion-item>
                <ion-label>Get Coffee</ion-label>
                <span>$5</span>
            </ion-item>
            <ion-item>
                <ion-label>Go Out To Dinner</ion-label>
                <span>$8</span>
            </ion-item>
            <ion-item>
                <ion-label>Go See A Movie</ion-label>
                <span>$9</span>
            </ion-item>
        </ion-list>
    </ion-grid>
</ion-content>