.bg_img {
    --background: transparent;
    background-image: url(/assets/newimage/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo_sec {
    ion-col[size="12"] {
        text-align: center;
        display: inline-block;
        .logo_img {
            max-width: 285px;
            width: 100%;
            margin: 0px auto 0px;
            padding: 50px 0 90px 0;
        }
    }
    .btn_sec {
        margin-top: 0px;
        text-align: center;
        display: inline-block;
        .login_btn {
            --background: var(--ion-button-color);
            max-width: 95%;
            width: 100%;
            margin: auto;
            height: 48px;
            margin-bottom: 14px;
            --background-activated: var(--ion-button-color);
            text-transform: uppercase;
            --background-focused: var(--ion-button-color);
            --background-hover: var(--ion-button-color);
            box-shadow: 0 1px 1px rgba(16, 27, 30, 0.15), 0 2px 2px rgba(16, 27, 30, 0.15), 0 4px 4px rgba(16, 27, 30, 0.15), 0 8px 8px rgba(16, 27, 30, 0.15), 0 16px 16px rgba(16, 27, 30, 0.15);
            border-radius: 30px;
            font-family: 'SF UI Display';
            letter-spacing: 2px;
            font-size: 16px;
        }
        .new_btn {
            --background: var(--ion-color-dark-blue);
            max-width: 95%;
            width: 100%;
            margin: auto;
            height: 55px;
            --background-activated: var(--ion-color-dark-blue);
            text-transform: uppercase;
            --border-radius: 14px !important;
            --background-focused: var(--ion-color-dark-blue);
            --background-hover: var(--ion-color-dark-blue);
            font-size: 16px;
        }
    }
}

form {
    display: table;
    width: 100%;
    height: 100%;
}

ion-grid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.input_sec {
    ion-item {
        margin-bottom: 14px !important;
        border-radius: 30px;
        --background: #093168;
        img {
            max-width: 22px;
            height: 22px;
            object-fit: contain;
            margin-left: 18px;
        }
        ion-label {
            max-width: 100% !important;
            width: 100% !important;
            margin-left: 20px;
            pointer-events: auto;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    ion-item {
        max-width: 95%;
        width: 100%;
        margin: auto;
        --min-height: 48px;
    }
}

.sign_sec {
    color: var(--ion-color-primary-contrast);
    position: relative;
    text-transform: uppercase;
    margin-bottom: 25px;
}

p.sign_sec:after {
    content: "";
    border-bottom: 2px solid var(--ion-color-primary-contrast);
    width: 23px;
    position: absolute;
    top: 0;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
}

.forgot_sec {
    p:first-child {
        color: var(--ion-color-light-tertiary-tint);
        font-size: 16px;
        letter-spacing: 1px;
    }
    p:nth-child(2) {
        color: var(--ion-color-light-tertiary-tint);
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 25px;
        span {
            color: var(--ion-color-dark-blue);
        }
    }
}

ion-row.logo_sec {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

a.visible-password img {
    margin-left: 0!important;
    margin-right: 8px;
}

ion-col.make-new p {
    text-transform: uppercase;
    font-size: 14px;
    color: #093167;
    font-family: 'SF UI Display'!important;
    letter-spacing: 1px;
}

ion-col.make-new span {
    text-transform: uppercase;
    font-size: 14px;
    color: #093167;
    letter-spacing: 1px;
    font-family: 'SF UI Display'!important;
    margin: 0 10px;
}

ion-input {
    font-size: 16px!important;
    color: #ffffff;
    font-family: "SF UI Display" !important;
    letter-spacing: 2px;
}

@media only screen and (max-width: 380px) {
    .logo_sec ion-col[size="12"] img {
        max-width: 240px!important;
    }
    ion-col.make-new span {
        margin: 0 5px;
    }
}
.radio_block {
    // margin-top: 30px;
    div {
        border: 1px solid var(--ion-color-primary-contrast);
        max-width: 95%;
        margin: 0px auto;
        margin-bottom: 16px;
        --color: var(--ion-color-primary-contrast);
        position: relative;
        border-radius: 30px;
        height: 48px;
    }
    ion-label {
        line-height: 48px;
        color: var(--ion-color-primary-contrast);
        height: 62px;
        --border-radius: 50px;
        margin-bottom: 16px;
        text-transform: uppercase;
        font-family: SF-UI-Display-Semibold;
        letter-spacing: 0px;
        font-size: 14px;
    }
    .biff {
        background-color: var(--ion-color-light-orange);
        border: 0px;
    }
}

ion-radio {
    min-height: 48px;
    display: block;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
}