// .appointment{
//     .shop {
//         color: #fff;
//         text-transform: uppercase;
//         font-weight: 700;
//         position: absolute;
//         text-align: center;
//         left: 0;
//         right: 0;
//         font-family: SF-UI-Display-Bold !important;
//     }
//     .img_sec {
//         width: 100%;
//         height: 200px;
//         object-fit: cover;
//     }
// }
.header_sec {
    ion-toolbar {
        --background: #004a9b !important;
        --border-width: 0px;
        ion-back-button {
            margin-left: 12px;
        }
    }
    ion-title {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }
}


.bg_shop {
    // position: absolute;
    // top: 0;
    width: 100%;
    height: 220px;
    text-align: center;
    .img_sec {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    .inner_img {
        width: 175px;
        height: 175px;
        border-radius: 100%;
        position: relative;
        bottom: 95px;
        border: 1px solid #004a9b;
        padding: 6px;
    }
}

.text_sec {
    background: #fff;
    position: relative;
    z-index: 9999;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 16px;
    h5 {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        max-width: 75%;
        width: 100%;
        margin: auto;
        font-family: SF-UI-Display-Medium !important;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 22px;
    }
}

.dollar_sec {
    ion-input {
        max-width: 80%;
        float: right;
        margin-top: -10px;
        text-align: left;
        --padding-start: 0;
        position: relative;
        right: 7px;
    }
}

.appoint_sec {
   
    ion-col[size="8"] {
        margin: auto;
        padding: 0;
        ion-checkbox {
            width: 100%;
            max-width: 14px;
            height: 14px;
        }
        span {
            position: relative;
            bottom: 3px;
            left: 9px;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            width: 100%;
            display: inline-block;
            max-width: 140px;
        }
        .checkbox-checked {
            --background: var(--ion-color-success) !important;
        }
    }
    ion-input {
        max-width: 80%;
        float: right;
        margin-top: -10px;
        text-align: left;
    }
    ion-col[size="10"] {
        margin: auto;
    }
}

.counter_sec {
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 0;
    ion-col[size="9"] {
        padding: 0;
        margin: auto;
        // margin-top: 0;
        p {
            background-color: rgba(162, 245, 195, 0.85);
            text-align: center;
            padding: 6px 6px;
            color: #000;
            border-radius: 3px;
            font-size: 12px;
            margin: 0;
            width: 100%;
            max-width: 70px;
            z-index: 9999;
        }
    }
    ion-col[size="2"] {
        p {
            margin: 0px;
        }
    }
    ion-col[size="3"] {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding: 0;
        p {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
    h6 {
        font-size: 12px;
        margin: 0;
        position: absolute;
        top: -20px;
        bottom: 0;
    }
}

.btn_sec {
    max-width: 92%;
    width: 100%;
    margin: auto;
    margin-bottom: 19px;
    box-shadow: 0px 0px 10px #d2d2d2;
    border-radius: 8px;
    padding: 0px 9px;
    ion-col[size="12"]:nth-child(2) {
        ion-button {
            height: 55px;
            --border-radius: 50px;
            margin-bottom: 14px;
            text-transform: uppercase;
            font-family: SF-UI-Display-Semibold;
            color: #fff;
            --background: #004a9b;
            --background-focused: #004a9b;
            --background-hover: #004a9b;
            --background-activated: #004a9b;
            // margin-top: 6px;
            letter-spacing: 3px;
            width: 100%;
        }
    }
    ion-col[size="12"]:first-child {
        ion-button {
            height: 55px;
            --border-radius: 50px;
            // margin-bottom: 14px;
            text-transform: uppercase;
            font-family: SF-UI-Display-Semibold;
            color: #fff;
            --background: #000;
            --background-focused: #000;
            --background-hover: #000;
            --background-activated: #000;
            margin-top: 6px;
            letter-spacing: 3px;
            width: 100%;
        }
    }
    ion-item {
        padding-top: 13px;
        width: 100%;
    }
}

.total_Sec {
    border-top: 1px solid #eee;
    ion-col[size="8"] {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 0;
        p {
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 7px;
            font-family: SF-UI-Display-Semibold;
            font-size: 14px;
        }
    }
    ion-col[size="9"] {
        p {
            margin-top: 6px;
            margin-bottom: 0;
            font-family: SF-UI-Display-Semibold;
            font-size: 14px;
        }
    }
    ion-col[size="3"] {
        p {
            margin-top: 6px;
            font-family: SF-UI-Display-Semibold;
            font-size: 14px;
        }
    }
}

ion-footer {
    border-top: 1px solid #eaeaea;
    padding: 14px 6px;
    background-color: #fff;
    .smiley {
        width: 100%;
        max-width: 85%;
        display: inline-flex;
        border: 1px solid #ccc;
        border-radius: 30px;
        background: rgba(204, 204, 204, 0.2);
        margin: auto;
        ion-icon[name="mail"] {
            font-size: 28px;
            position: relative;
            top: 10px;
            margin-left: 19px;
            margin-right: 0px;
        }
        ion-label {
            width: 100%;
            max-width: 100% !important;
            pointer-events: auto !important;
        }
        ion-input {
            color: black;
            padding: 11px 0!important;
        }
    }
    ion-icon[name="mail"] {
        position: relative;
        font-size: 24px;
        top: 8px;
        right: 12px;
        transform: rotate(45deg);
    }
    ion-icon[name="send"] {
        position: relative;
        transform: rotate(-30deg);
        background: #004a9b;
        border-radius: 100%;
        color: #fff;
        padding: 8px;
        font-size: 24px;
    }
}

.add_card {
    --background: #004a9b!important;
    --background-focused: #004a9b!important;
    --background-hover: #004a9b!important;
    --background-activated: #004a9b!important;
    text-indent: -24px;
    margin: 0px auto;
    margin-top: 0px!important;
    ion-icon {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 6px;
        border-radius: 100%;
        color: #004a9b;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        right: 6px;
        font-size: 28px;
    }
}

.shadow {
    max-width: 58%;
    margin: 0px auto;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.62);
    border-radius: 100px;
    margin-top: 12px;
    transform: scale(0.8, 0.8);
}

ion-radio {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    --color-checked: #004a9b;
    border: 1px solid #111;
}

.schedule {
    ion-button {
        height: 48px;
        --border-radius: 50px;
        text-transform: capitalize;
        color: #fff;
        --background: #004a9b;
        --background-focused: #004a9b;
        --background-hover: #004a9b;
        --background-activated: #004a9b;
        letter-spacing: 1px;
        width: 160px;
        margin: 0 auto;
        display: block;
        font-size: 14px;
        font-weight: 300!important;
    }
}

.btn_sec {
    span {
        font-size: 16px;
        float: right;
        display: block;
        ion-icon {
            background-color: var(--ion-button-color);
            color: #fff;
            border-radius: 100%;
            font-size: 19px;
            margin-left: 7px;
            position: relative;
            top: 3px;
        }
    }
}

ion-radio-group {
    display: block;
    margin-top: 20px;
}

h4 {
    font-size: 20px;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 17px;
}

.back_buttons ion-icon[name=arrow-round-back] {
    font-size: 24px;
}

ion-row.appoint_sec {
    margin-bottom: 16px;
    span {
        width: 200px;
        float: left;
        font-size: 14px;
        font-weight: 600;
        padding-right: 10px;
    }
    p {
        float: left;
        width: calc(100% - 200px);
        margin: 0;
        font-size: 14px;
        padding-left: 10px;
    }
} 

ion-col.total-price {
    padding: 16px 5px;
    border-top: 1px solid #ebebeb;
    margin-top: 16px;
}

ion-icon.send-icon {
    background: #004a9b;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    padding: 10px;
}

ion-icon.message-icon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 5px;
    margin-left: 16px;
}