<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="logo_sec bg_img">
      <ion-col size="12">
         <h6>Certification Title</h6>
         <img src="assets/imgs/add-icon.png" class="add_sec">
         <p>Attach Photo of Your Certificate</p>
      </ion-col>
    </ion-row>
    <ion-row class="btn_sec">
      <ion-col size="6">
        <ion-button routerLink="/newuserabout"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button>Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>