ion-button {
    text-align: center;
    --background: #004a9b;
    margin: 0;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: SF-UI-Display-Medium;
    color: #fff;
    height: 52px;
    width: 100%;
    --background-activated: #004a9b;
    --background-focused: #004a9b;
    --background-hover: #004a9b;
    --border-radius: 50px;
}

.cardgroup {
    width: 100%;
}

.header_sec {
    ion-toolbar {
        --background: transparent;
        --background: transparent;
        background-image: url(/assets/newimage/top-bg.png);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    ion-title {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        color: #fff;
        text-transform: uppercase;
    }
    .back_buttons {
        margin-left: 12px;
    }
}

ion-header {
    ion-toolbar {
        --background: #1F2E36;
        color: #fff;
    }
}

.user_details {
    p {
        margin-bottom: 10px;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 9px;
    }
}

ion-card-title {
    font-size: 22px;
}

ion-card-content {
    padding-top: 0px!important;
}