<ion-header class="header_sec" no-padding>
    <ion-toolbar class="ion-no-padding">
     <ion-buttons slot="start" class="back_buttons">
        <ion-back-button defaultHref="/"><ion-icon name="arrow-round-back"></ion-icon></ion-back-button>
     </ion-buttons> 
      <ion-title>Chat</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row class="chat_list">
      <ion-col size="12">
        <ion-item lines="none" class="ion-no-padding">
          <img src="assets/imgs/barber2.png">
          <ion-label>
           <p>Hi! Thanks for messaging me. What can i do for you?</p> 

           <p class="ion-text-right">4:37 PM</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="black_screen">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
             <p>Hi! Thanks for messaging me. What can i do for you?</p> 
             <p class="ion-text-left">4:37 PM</p>
            </ion-label>
            <img src="assets/imgs/barber2.png">
          </ion-item>
        </ion-col>

        <ion-col size="12">
            <ion-item lines="none" class="ion-no-padding">
              <img src="assets/imgs/barber2.png">
              <ion-label>
               <p>Hi! Thanks for messaging me. What can i do for you?</p> 
    
               <p class="ion-text-right">4:37 PM</p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="black_screen">
              <ion-item lines="none" class="ion-no-padding">
                <ion-label>
                 <p>Hi! Thanks for messaging me. What can i do for you?</p> 
                 <p class="ion-text-left">4:37 PM</p>
                </ion-label>
                <img src="assets/imgs/barber2.png">
              </ion-item>
            </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
    <ion-item lines="none" class="ion-no-padding">
      <div class="smiley">
          <ion-icon name="happy"></ion-icon>
          <ion-label><ion-input placeholder="Enter message"></ion-input></ion-label>
          <ion-icon name="attach"></ion-icon>
      </div>
        <ion-icon name="send"></ion-icon>
    </ion-item>
  </ion-footer>