.radio_block {
    // margin-top: 30px;
    div {
        border: 1px solid var(--ion-color-primary-contrast);
        max-width: 95%;
        margin: 0px auto;
        margin-bottom: 16px;
        --color: var(--ion-color-primary-contrast);
        position: relative;
        border-radius: 30px;
        height: 48px;
    }
    ion-label {
        line-height: 48px;
        color: var(--ion-color-primary-contrast);
        height: 62px;
        --border-radius: 50px;
        margin-bottom: 16px;
        text-transform: uppercase;
        font-family: SF-UI-Display-Semibold;
        letter-spacing: 0px;
        font-size: 14px;
    }
    .biff {
        background-color: var(--ion-color-light-orange);
        border: 0px;
    }
}

ion-radio {
    min-height: 48px;
    display: block;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.checkbox {
    position: relative;
    top: 7px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    margin-right: 9px;
    display: inline-block;
    border: 1px solid var(--ion-color-primary-contrast);
    ion-checkbox {
        width: 21px;
        height: 21px;
        --background-checked: transparent;
        --border-color-checked: transparent;
        --background: transparent;
    }
    ion-checkbox[aria-checked="true"] {
        width: 15px;
        height: 15px;
        top: 2px;
        --background-checked: var(--ion-color-primary-contrast);
        --border-color-checked: var(--ion-color-primary-contrast);
        --background: var(--ion-color-primary-contrast);
        position: absolute;
        left: 2px;
    }
}

.bg_img {
    --background: transparent;
    background-image: url(/assets/newimage/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo_sec {
    ion-col[size="12"] {
        text-align: center;
        display: inline-block;
        .logo_img {
            max-width: 285px;
            width: 100%;
            margin: 70px auto 70px;
            // margin-top: 70px;
        }
    }
}

form {
    display: table;
    width: 100%;
    height: 100%;
}

ion-grid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.input_sec {
    ion-item {
        margin-bottom: 14px !important;
        border-radius: 30px;
        --background: #093168;
        img {
            max-width: 22px;
            height: 22px;
            object-fit: contain;
            margin-left: 18px;
        }
        ion-label {
            max-width: 100% !important;
            width: 100% !important;
            margin-left: 20px;
            pointer-events: auto;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    ion-item {
        max-width: 95%;
        width: 100%;
        margin: auto;
        --min-height: 48px;
    }
}

.sign_sec {
    color: var(--ion-color-primary-contrast);
    position: relative;
    text-transform: uppercase;
    margin-bottom: 25px;
}

p.sign_sec:after {
    content: "";
    border-bottom: 2px solid var(--ion-color-primary-contrast);
    width: 23px;
    position: absolute;
    top: 0;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
}

.forgot_sec {
    p:first-child {
        text-transform: uppercase;
        font-size: 16px;
        color: #093167;
        letter-spacing: 1px;
        font-family: 'SF UI Display'!important;
        letter-spacing: 2px;
    }
    p:nth-child(2) {
        text-transform: uppercase;
        font-size: 16px;
        color: #093167;
        letter-spacing: 1px;
        font-family: 'SF UI Display'!important;
        letter-spacing: 2px;
        margin-top: 25px;
        span {
            color: var(--ion-color-light-orange);
        }
    }
}

.continue {
    --background: var(--ion-button-color);
    max-width: 95%;
    width: 100%;
    margin: auto;
    height: 48px;
    margin-bottom: 14px;
    --background-activated: var(--ion-button-color) !important;
    text-transform: uppercase;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 30px;
    font-size: 16px;
}

a.visible-password img {
    margin-left: 0!important;
    margin-right: 8px;
}

ion-input {
    font-size: 16px!important;
    color: #ffffff;
    font-family: "SF UI Display" !important;
    letter-spacing: 1px;
}
.capital{
    font-size: 16px!important;
    color: #ffffff;
    font-family: "SF UI Display" !important;
    letter-spacing: 1px;
    text-transform: capitalize;
}

@media only screen and (max-width: 380px) {
    .logo_sec ion-col[size="12"] img {
        max-width: 240px!important;
    }
}