<ion-header class="header_sec" no-padding>
    <ion-toolbar class="ion-no-padding">
        <ion-buttons slot="start" (click)="back()" class="back_buttons">
                <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>
        <ion-title>Schedule Now</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content>
       <ion-grid class="ion-padding text_sec">
        <!-- <ion-row>
            <ion-col size="12" class="ion-no-padding">
                <h5>{{selecteddate}} {{select_day}} {{select_time}}</h5>
            </ion-col>
        </ion-row> -->
        <!-- <ion-row class="appoint_sec">
            <ion-col size="8">
            </ion-col>
            <ion-col size="4">
                <ion-row class="counter_sec">
                    <ion-col size="9">
                        <h6>Rate</h6>
                    </ion-col>
                    <ion-col size="3">
                        <h6>Qty</h6>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row> -->
        <!-- <ion-row class="appoint_sec" *ngFor="let inv of myservices">
            <ion-col size="8">
                <span>{{inv.service_name}}</span>
            </ion-col>
            <ion-col size="4">
                <ion-row class="counter_sec">
                    <ion-col size="9">
                        <p>$ {{inv.price}}</p>
                    </ion-col>
                    <ion-col size="3">
                        <p>{{inv.item}}</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row> -->

        <ion-row class="appoint_sec">
            <ion-col size="12">
                <span>Acitivity</span>
                <p>{{cart?.activity}}</p>
            </ion-col>
            <ion-col size="12">
                <span>Location</span>
                <p>{{cart?.location}}</p>
            </ion-col>
            <ion-col size="12">
                <span>Time to spend with Friend</span>
                <p>{{cart?.minimum_time_to_spend_with_Friend}}</p>
            </ion-col>
            <ion-col size="12">
                <span>Response time limit</span>
                <p>{{cart?.response_time_limit}}</p>
            </ion-col>
            <ion-col size="12" class="total-price">
                <span>Total Price</span>
                <p>$ {{totalpricecal}}</p>
            </ion-col>
        </ion-row>




        <!-- <ion-row class="total_Sec">
            <ion-col size="8">
                <span>Total Price</span>
            </ion-col>
            <ion-col size="4">
                <ion-row class="dollar_sec"> -->
                    <!-- <ion-col size="9">
                        <p>$ {{totalprice}}</p>
                    </ion-col> -->
                    <!-- <ion-col size="3">
                        <p>{{invtotalItem}}</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row> -->

    <!-- <h4>My Cards</h4>
    <ion-row *ngIf="!Cardready">
        <ion-col class="ion-text-center">
            <ion-spinner name="lines"></ion-spinner>
        </ion-col>
    </ion-row> -->
    <!-- <ion-row class="btn_sec" *ngIf="Cardready">
        <ion-col size="12" class="ion-text-center">
            <span [routerLink]="['/billing/forpayment/invoice']">
              Add card
              <ion-icon name="add">
            </ion-icon>
            </span>
            <ion-radio-group *ngIf="Cardready && cards.length>0" class="cardgroup" [(ngModel)]="card">
                <ion-item *ngFor="let c of cards">
                    <ion-label>{{c.brand}} - {{c.last4}}</ion-label>
                    <ion-radio slot="start" value="{{c.id}}" (ionSelect)="CardradioChecked(c.id)"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-col>
    </ion-row> -->


        <ion-row class="schedule">
            <ion-col size="12" class="ion-textcenter">
                <ion-button (click)="paynow1()">Schedule</ion-button>
            </ion-col>
        </ion-row>   
</ion-grid>
</ion-content>


<ion-footer>
    <ion-item lines="none" class="ion-no-padding">
        <div class="smiley">
            <ion-icon class="message-icon" src="assets/imgs/mail-blue.svg"></ion-icon>
            <ion-label>
                <ion-input [(ngModel)]="message" placeholder="Enter message"></ion-input>
            </ion-label>
        </div>
        <ion-icon class="send-icon" src="assets/imgs/send.svg" (click)="sendToMessage(userProfile)"></ion-icon>
    </ion-item>
</ion-footer>