<ion-header>
  <ion-toolbar>
    <!-- <ion-title>rateexperience</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <div class="rate-experience">
        <ion-img src="assets/imgs/check.svg"></ion-img>
        <h2>rate your experience</h2>
        <p>We hope you two had a great job. Take a quick second tell us how it went.</p>
      </div>
      <div class="total-price">
        <ion-card>       
          <ion-card-header>
            <ion-card-subtitle>july 17, 2020</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           <ion-label>
            <section>
              <h2><b>You & Alice</b>Grabbed a Cup of Coffee</h2>
              <span>3 Hours</span>
            </section>
            <div>total<span>$15.00</span></div>
           </ion-label>
          </ion-card-content>
        </ion-card>
      </div>    

      <ion-list class="rating">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/imgs/barber10.png">
          </ion-thumbnail>
          <ion-label>
            <section>
              <h2>Alice</h2>
              <h6>Knoxville TN</h6>
              <b> <ion-icon src="assets/imgs/check.svg"></ion-icon>provided services</b>
            </section>          
            <div>
              <b><ion-icon name="star"></ion-icon>4.2</b>
              <span>out of five</span>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      
      <div class="add-review">
        add your review
        <section>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </section>
      </div>
      <ion-button class="write-review">write a review</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-button>add my review</ion-button>
</ion-footer>
