.header_sec {
    ion-toolbar {
        --background: transparent !important;
        --border-width: 0px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 99999;
        ion-menu-button {
            color: #fff;
        }
        ion-back-button {
            margin-left: 12px;
        }
    }
    ion-title {
        color: #fff;
        text-transform: capitalize;
        font-weight: 700;
    }
    ion-icon[name="notifications"] {
        font-size: 26px;
        color: #fff;
        margin-right: 10px;
    }
}

// ion-content{
//     position: absolute;
//     top: 0;
//     width: 100%;
//   }
.bg_shop {
    background: url(/assets/newimage/top-bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 12px;
    padding-top: 60px;
    // z-index: 9999;
    // position: relative;
    // height: 155px;
    ion-searchbar {
        --background: rgba(255, 255, 255, 0.93)!important;
        max-width: 95%;
        margin: 0px auto;
        border-radius: 100px;
        z-index: 99999;
        button[aria-label="cancel"] {
            display: block;
            background-color: #ab0b0e;
            color: #fff;
            padding-right: 7px;
            border-radius: 4px;
            position: relative;
            left: 3px;
        }
        .searchbar-input-container {
            height: 54px !important;
            border-radius: 16px;
        }
    }
}

ion-datetime {
    border: 2px solid #e8ebf0;
    max-width: 88%;
    font-size: 15px;
}

.message_list_sec {
    width: 100%;
    max-width: 93%;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 12px;
    box-shadow: 0px 0px 6px #c3c3c3;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 0px;
    padding-left: 0;
    ion-col[size="7"] p {
        margin-bottom: 0px;
    }
    ion-col[size="8"] {
        // padding-left: 0px;
        h3 {
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 0;
            font-family: SF-UI-Display-Semibold !important;
        }
        p {
            font-size: 13px;
            color: #797979;
            margin-top: 4px;
            line-height: 18px;
            font-family: SF-UI-Display !important;
        }
    }
    ion-col[size="4"] {
        margin: auto;
        padding-bottom: 0px;
        color: var(--ion-color-medium);
        text-align: left;
        padding-left: 0;
        img {
            width: 100%;
            max-width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 14px;
            margin-left: 5px;
        }
    }
}

.selector {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
    border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center;
}

.date_sec {
    position: absolute;
    right: 22px;
    font-size: 12px;
    font-family: SF-UI-Display !important;
    color: #808080;
}

.locate {
    font-size: 30px;
    padding: 5px;
}

.locateRed {
    font-size: 30px;
    padding: 5px;
    color: red;
}

.offline {
    position: absolute;
    bottom: 12px;
    // right: 2px;
    right: 12px;
    img {
        width: 10px !important;
        height: 10px !important;
    }
}