<ion-content class="bg_img">
    <ion-grid>
        <ion-row class="logo_sec">
            <ion-col size="12">
                <img src="assets/newimage/logo-with-text.png" class="logo_img">
            </ion-col>

            <ion-col size="12" class="btn_sec">
                <ion-button shape="round" class="login_btn" routerLink="/login">Login</ion-button>
                <ion-button shape="round" class="new_btn" routerLink="/instruction">Sign Up</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>