ion-button {
    --background: #ca0d13;
    --background-focused: #ca0d13;
    --background-hover: #ca0d13;
    --background-activated: #ca0d13;
    --border-radius: 6px;
    --padding-top: 24px;
    --padding-bottom: 24px;
    --padding-start: 1em;
    --padding-end: 1em;
    font-size: 14px;
    position: relative;
    top: 3px;
    margin-bottom: 20px;
    display: inline-block;
}

.header_sec {
    // min-height: 55px;
    ion-toolbar {
        --background: transparent;
        background-image: url(/assets/newimage/top-bg.png);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        ion-back-button {
            color: #fff!important;
        }
    }
    ion-title {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        color: #fff;
        text-transform: uppercase;
    }
    .back_buttons {
        margin-left: 8px;
    }
}

.user_details {
    p {
        margin-bottom: 10px;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 9px;
    }
}

ion-card-title {
    font-size: 22px;
    text-align: center;
}

ion-card-content {
    padding-top: 0px!important;
    ion-icon {
        margin-right: 5px;
    }
}

ion-label {
    color: #202e36;
    margin-right: 6px;
}

small {
    font-size: 12px;
    color: green;
}