<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()" >
      <ion-icon name="arrow-round-back"></ion-icon>
</ion-buttons>
    <ion-title>paypal</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header class="header_sec" no-padding>
  <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="start" class="back_buttons" (click)="back()">
          <ion-icon name="arrow-round-back"></ion-icon>
    </ion-buttons>
      <ion-title>Pay Pal</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div id="paypal-button-container"></div>
</ion-content>
