<ion-header class="header_sec" no-padding>
    <ion-toolbar class="ion-no-padding">
     <ion-buttons slot="start" class="back_buttons">
        <ion-back-button defaultHref="/"><ion-icon name="arrow-round-back"></ion-icon></ion-back-button>
     </ion-buttons> 
      <ion-title>Messages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-grid class="ion-no-padding">
        <ion-row class="message_list_sec" padding routerLink="/chat">
          <ion-col size="4">
            <img src="assets/imgs/list1.png">
            <div class="offline">
              <img src="assets/imgs/online.png">
            </div>
          </ion-col>
              <ion-col size="8">
                <h3>Tom Roy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum.</p>
              </ion-col>
              <div class="date_sec">
                  <p class="date">8/09/219</p>
              </div>
            </ion-row>
    
            <ion-row class="message_list_sec" padding routerLink="/chat">
              <ion-col size="4">
                <img src="assets/imgs/list2.png">
                <div class="offline">
                  <img src="assets/imgs/offline.png">
                </div>
              </ion-col>
                  <ion-col size="8">
                    <h3>Bren helter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum.</p>
                  </ion-col>
                  <div class="date_sec">
                      <p class="date">8/09/219</p>
                  </div>
                </ion-row>
    
                <ion-row class="message_list_sec" padding routerLink="/chat">
                  <ion-col size="4">
                    <img src="assets/imgs/list2.png">
                    <div class="offline">
                      <img src="assets/imgs/online.png">
                    </div>
                  </ion-col>
                      <ion-col size="8">
                        <h3>Tom Roy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum.</p>
                      </ion-col>
                      <div class="date_sec">
                          <p class="date">8/09/219</p>
                      </div>
                    </ion-row>
                    <ion-row class="message_list_sec" padding routerLink="/chat">
                      <ion-col size="4">
                        <img src="assets/imgs/list1.png">
                        <div class="offline">
                          <img src="assets/imgs/online.png">
                        </div>
                      </ion-col>
                          <ion-col size="8">
                            <h3>Tom Roy</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum.</p>
                          </ion-col>
                          <div class="date_sec">
                              <p class="date">8/09/219</p>
                          </div>
                        </ion-row>
                        <ion-row class="message_list_sec" padding routerLink="/chat">
                          <ion-col size="4">
                            <img src="assets/imgs/list2.png">
                            <div class="offline">
                              <img src="assets/imgs/offline.png">
                            </div>
                          </ion-col>
                              <ion-col size="8">
                                <h3>Tom Roy</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum.</p>
                              </ion-col>
                              <div class="date_sec">
                                  <p class="date">8/09/219</p>
                              </div>
                            </ion-row>
      </ion-grid>
    </ion-content>
    
